body {
    background-color: #303030;
    font-family: Lato, sans-serif;
    font-size: 20px;
    color: #fff;
    margin: 0;
}

#wrapper {
    width: 100%;
}

#header {
    width: 100%;
    padding: 40px 0;
}

#logo {
    width: 450px;
    font-size: 48px;
    margin-left: auto;
    margin-right: auto;
}

#content {
    width: 1000px;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}

#socials {
    background-color: #292929;
}

#socialdivs {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.stickyNav {
    position: sticky;
    top: 0;
}

#fb, #yt, #gplus, #tw {
    width: 250px;
    height: 155px;
    float: left;
    text-align: center;
}

#fb:hover {
    background-color: #4668b3;
}

#yt:hover {
    background-color: #d94348;
}

#gplus:hover {
    background-color: #d95333;
}

#tw:hover {
    background-color: #3095d3;
}

#footer {
    text-align: center;
    background-color: #222;
    padding: 30px;
}

#spanlogo {
    color: #c34f4f;
    text-shadow: 1px 2px #451717,
                -1px 2px #451717,
                -1px -1px #451717,
                1px -1px #451717;

/*    text-shadow: -2px 2px #451717,
                 2px 2px #751b1b,
                 2px -2px #451717,
                 -2px -2px #751b1b;*/

/*    text-shadow: 2px 2px #451717,
                 -2px 2px #751b1b,
                 -2px -2px #451717,
                 2px -2px #751b1b;*/
}

#nav
{
    width: 100%;
    background-color: #c34f4f;
    text-align: center;
    border-top: 1px solid #751b1b;
    border-bottom: 1px solid #751b1b;
    padding: 10px 0;
}

ol
{
    list-style-type: none;
    font-size: 18px;
    height: 35px;
    line-height: 200%;
    display: inline-block;
    padding: 0;
    margin: 0;
}

ol a
{
    text-decoration: none;
    color: #fff;
    display: block;
}

ol > li
{
    height: 40px;
    width: 150px;
    border-right: 1px dashed #751b1b;
    float: left;
}

ol > li:first-child
{
    border-left: 1px dashed #751b1b;
}

ol > li:hover
{
    background-color: #cf6969;
}

ol > li > ul > li:hover
{
    background-color: #c34f4f;
}

ol > li > ul > li:hover > a
{
    color: #451717;
}

ol > li:hover > a
{
    color: #451717;
}

ol > li > ul > li
{
    background-color:#cf6969;
    position: relative;
    border-top: 1px dashed #751b1b;
}

ol > li > ul
{
    list-style-type: none;
    height: 40px;
    padding: 0;
    margin: 0;
    display: none;
}

ol > li:hover > ul
{
    display: block;
}
